$primaryColor: #88b04b;
$secondaryColor: white;

.label {
    color: $secondaryColor;
    text-transform: uppercase;
}

.container {
    background-color: $primaryColor;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 100px;
    cursor: pointer;
    border: 2px solid $primaryColor;

    &:hover {
        background-color: $secondaryColor;
        & .label {
            color: $primaryColor;
        }
    }
}

.labelAlt {
    color: $primaryColor;
}

.containerAlt {
    background-color: $secondaryColor;
    border: 2px solid $primaryColor;

    &:hover {
        background-color: $primaryColor;
        & .label {
            color: $secondaryColor;
        }
    }
}
