.container {
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left: vw;
    padding-right: 1vw;
    border-bottom: 2px solid #88b04b;
    cursor: pointer;

    &:hover {
        background-color: lighten(black, 80%);
    }
}

.image {
    max-height: 80px;
    max-width: 5vw;
}

.imageContainer {
    height: 100px;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}