.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.errorMsg {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: lighten(red, 40%);
    border: 3px solid lighten(red, 20%);;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: lighten(red, 20%);
}

.detailContainer {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .detailContainer {
        flex-direction: column;
    }
}

.image {
    flex: 1;
    justify-content: center;
    display: flex;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: flex-start;

    & > img {
        object-fit: contain;
        max-height: 80vh;
        max-width: 50vw;
    }
}

.detailContainerData {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    margin-bottom: 3px;
}

.element {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.goBack {
    width: 30px;
    align-self: flex-start;
    cursor: pointer;
}
